@mixin display($justify:center ,$align:center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
}